
/*DROP DOWN ANIMATION FADE OUT___________________________________________ */

body.no-scroll {
    overflow: hidden; /* Prevent scrolling */
}
.overlay-2 {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000000;
}

.overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('Assets/Images/seats.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.overlay p {
    font-size: 300px;
    font-weight: 800;
}

.screen {
    color: #323232;
    font-family: Poppins, sans-serif;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.myBtn {
    font-family: Poppins, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 24px 48px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #ffffff;
    border: 2px solid #fff;
    text-transform: uppercase;
    outline: none;
    background: none;
    z-index: 1;
    transition: 0.8s ease-out;
}

.myBtn:hover {
    color: #101010;
}

.myBtn:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before {
    top: 0;
}

/*NAVIGATION BAR ___________________________________________ */

header {
    width: 1140px;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 50px;
    align-items: center;
    color: #ffffff;
}

header .logo {
    font-weight: bold;
}

header nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.border-top {
    border-top: 2px solid #ffffff; /* Change the width, style, and color as needed */
    width: 80%;
    margin: 0 auto; /* Centers the element horizontally */
    margin-top: 50px;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 700px;
    margin: 0 auto; /* Centers the element horizontally */
    margin-top: 15px;
}
.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: bold;
}
.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.search-bar button {
    padding: 10px 15px;
    border-color: #ffffff;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.search-bar button {
    transition: background 0.3s, transform 0.3s;
}
.search-bar button:hover {
    background: rgba(255, 255, 255, 0.2); 
    transform: scale(1.1); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
    .search-bar {
        width: 100%; 
        flex-direction: row; 
        justify-content: space-between; 
    }
    
    .search-bar input[type="text"] {
        flex: 1; 
        margin-right: 10px;
        margin-left: 40px;
    }
    
    .search-bar button {
        width: auto;
        flex-shrink: 0;
        margin-right: 40px;
        transition: background 0.3s, transform 0.3s;
    }

    .search-bar button:hover {
        background: rgba(255, 255, 255, 0.2); 
        transform: scale(1.1); 
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
}